/* #####
    MAIN
##### */

html,
body,
.container {
    height: 100%;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #116fcc;
    color: white;
}

.main {
    width: 90%;
}

.row {
    /* border: 1px solid red; */
}

.mini-container {
    width: 100%;
    /* margin-bottom: 100px; */
}

.center-block {
    float: none;
}

.vert-center {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;

    height: 100%;

    /* border: 3px solid black; */
}

.bottom-border {
    padding-bottom: 16px;
    border-bottom: 1px solid #e2e2e2;
}


/* #####
    COLORS
##### */

.pmd-textfield .form-control {
    border-bottom: 1px solid white;
    color: white;
    font-size: 1.2em;
}

.pmd-textfield-focused {
    background-color: white;
}

.pmd-card {
    color: black;
}

a {
    color: white;
}

a:hover {
    color: white;
    text-decoration: underline;
}


/* #####
    SPACING
##### */

#welcome {
    margin-top: 50px;
    margin-bottom: 50px;
}

#welcome h1 {
    font-size: 2.5em;
}

#searchbar {
    margin-bottom: 50px;
}

#results-card {
    width: 100%;
    height: auto;
    margin-bottom: 50px;
}

@media (min-width: 868px) {
    .main {
        width: 80%;
    }

    #results-card {
        width: 70%;
    }
}
