{% extends "layout.html.j2" %}
{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-12 center-block" id="aboutpage">
            <p>
                FirstAid is the quick and simple solution to your homework questions and problems. Ask anything and it will provide reliable and relevant results from curated resources.
            </p>
            <p>
                Made with <3 by Min Jun Kim and Dominic Philip at HackTJ
            </p>
        </div>
    </div>
</div>

{% endblock %}
