{% extends "layout.html" %}
{% block body %}

<div id="block1" class="container">
    <div class="main vert-center center-block">

        <div class="mini-container">

            <div class="row" id="welcome">

                <div class="col-md-12">
                    <h1 class="center-block">welcome to firstaid</h1>
                </div>

            </div>

            <div class="row" id="searchbar">

                <div class="col-md-12">

                    <form method="post" id="inputform" action="{{ url_for("results") }}" />

                        <div class="pmd-textfield form-group">
                            <input type="text" value="whassup"  class="form-control" id="input"/>
                            <!-- <input type="submit" value="submit" class="btn pmd-btn-raised pmd-ripple-effect btn-primary"/>-->
                        </div>

                    </form>

                </div>

            </div>

        </div>

    </div>
</div>

{% endblock %}
