{% extends "layout.html.j2" %}
{% block body %}

<div id="block1" class="container">
    <div class="main center-block">

        <div class="mini-container">

            <div class="row text-center" id="welcome">

                <div class="col-md-12">
                    <a href="{{ url_for("index") }}"><h1 class="center-block">FirstAid</h1></a>
                </div>

            </div>

            <div class="row text-center" id="searchbar">

                <div class="col-md-12">

                    <form method="post" id="inputform" action="{{ url_for("results") }}" />

                        <div class="pmd-textfield form-group">
                            <input type="text" value="{{ saying }}"  class="form-control" id="input" name="input" />
                            <!-- <input type="submit" value="submit" class="btn pmd-btn-raised pmd-ripple-effect btn-primary"/>-->
                        </div>

                    </form>

                </div>

            </div>

            <!--<div class="row center-block" id="about">
                <div class="col-md-4 no-padding">
                    <a href="{{ url_for("about") }}" >About</a>
                </div>
            </div>-->

            {% block results %}

            {% endblock %}

        </div>

    </div>
</div>

{% endblock %}
